@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=New+Amsterdam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

* {
  scroll-behavior: smooth;
}

.Font-About {
  font-family: "Bebas Neue", sans-serif;
}
.Font-Animation {
  font-family: "Caveat", cursive;
}

.parallax-container {
  perspective: 1000px;
  transition: transform 0.3s ease-out;
  transform-style: preserve-3d;
}

.parallax-container img {
  transition: transform 0.3s ease-out;
}

.Number_Font {
  font-family: "New Amsterdam", sans-serif;
}

/* Arrow Animation */
.scroll-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .scroll-arrow {
    display: none;
  }
}

.arrow {
  font-size: 2rem;
  color: #333; /* Arrow color */
  animation: jump 1.5s infinite;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
